<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-OrderManagement.Web.UI-20131010101953;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-OrderManagement.Web.UI-20131010101953.mdf" providerName="System.Data.SqlClient" />
    <add name="OrderManagementDatabaseEntities" connectionString="metadata=res://*/OrderManagement_SQLServer.csdl|res://*/OrderManagement_SQLServer.ssdl|res://*/OrderManagement_SQLServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANUJ\ANUJSQLSERVER;initial catalog=OrderManagement;user id=sa;password=p&amp;krohila;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="OrderManagementDatabaseEntities" connectionString="metadata=res://*/OrderManagement_SQLServer.csdl|res://*/OrderManagement_SQLServer.ssdl|res://*/OrderManagement_SQLServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=itmc-sql;initial catalog=ARohilaDatabase;user id=sa;password=sa@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>

  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
