<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AdminServiceUri" value="http://localhost/OrderManagement.Web.Services/Services/Admin/AdminService.svc" />
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="OrderManagementDatabaseEntities" connectionString="metadata=res://*/OrderManagement_SQLServer.csdl|res://*/OrderManagement_SQLServer.ssdl|res://*/OrderManagement_SQLServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANUJ\ANUJSQLSERVER;initial catalog=OrderManagement;user id=sa;password=p&amp;krohila;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="OrderManagementDatabaseEntities" connectionString="metadata=res://*/OrderManagement_SQLServer.csdl|res://*/OrderManagement_SQLServer.ssdl|res://*/OrderManagement_SQLServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=itmc-sql;initial catalog=ARohilaDatabase;user id=sa;password=sa@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>