@using OrderManagement.Web.Domain;
@model List<ModelMessage>
<div id="commonErrorRegion">
    @{if (Model != null)
      {

          if (Model.Where(m => m.Type == MessageType.Success).Count() > 0)
          {
              foreach (var success in Model.Where(m => m.Type == MessageType.Success))
              {
        <div class="successMessage">
            <small class="help-block" style="">@success.Message</small>
        </div>
              }
          }
          if (Model.Where(m => m.Type == MessageType.Error).Count() > 0)
          {
              foreach (var error in Model.Where(m => m.Type == MessageType.Error))
              {
        <div class="has-error">
            <small class="help-block" style="">@error.Message</small>
        </div> 
              }
          }
        <div style="margin-bottom: 5px">
        </div> 
      }    
    }
</div>





